<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>version</key>
    <dict>
        <key>major</key>
        <integer>11</integer>
        <key>minor</key>
        <integer>6</integer>
        <key>patch</key>
        <integer>1</integer>
        <key>preRelease</key>
        <string></string>
        <key>build</key>
        <string>2</string>
    </dict>
    <key>url</key>
    <string>https://github.com/BunPuffs/Bnuuy/releases/download/BnuuyWine-11.6.1/Libraries-11.6.1.tar.gz</string>
</dict>
</plist>
